nav.nav
    if adaptive == true
        button.main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
        .main-nav__collapse
            +menu(navigation)
            .main-nav__hide
              .page-header__link
                a.popup(href='#regin-id')
                  span Войти
                  i.icon-exit
              .page-header__soc
                ul.list--inline
                  li: a(href='https://www.facebook.com/wwpcapital/', target='_blank'): i.icon-fa
                  li: a(href='https://www.youtube.com/wwpcapital', target='_blank'): i.icon-youtube
                  li: a(href='http://instagram.com/wwpcapital_official', target='_blank'): i.icon-instagram
                  li: a(href='https://vk.com/wwpcapital', target='_blank'): i.icon-vk
    else
        +menu(navigation)
