//- #form-id.mfp-hide.zoom-anim-dialog.main-popup
//-   .text--center.is-col__lg-10.centered-block
//-     h2 Войти
//-     .my50
//-       .form__group.text__md.text--lgrey С помошью социальных сетей
//-       ul.social
//-         li: a(href='#'): i.icon-fa
//-         li: a(href='#'): i.icon-goog
//-         li: a(href='#'): i.icon-tw
//-         li: a(href='#'): i.icon-vk
//-         li: a(href='#'): i.icon-odnoklassniki
//-         li: a(href='#'): i.icon-mail
//-     form(action="#" method="method")
//-       .mb25: .text__md.text--lgrey Или с учетной запиcью SWITIPS
//-       .form__group
//-         input.control(type='email', placeholder='E-mail', name='mail', required)  
//-       .form__group
//-         input.control(type='password', placeholder='Пароль', name='password', required)  
//-       .mb30
//-         a.popup(href='#rest-id') Забыли пароль?
//-       .mb25
//-         button.btn.btn--primary(type='submit', disabled) Войти
//-       .form__group
//-         a.popup(href='#reg-id') Зарегистрироваться
 
//- #reg-id.mfp-hide.zoom-anim-dialog.main-popup
//-   .text--center.is-col__lg-10.centered-block
//-     h2 Регистрация
//-     .my50
//-       .form__group.text__md.text--lgrey С помошью социальных сетей
//-       ul.social
//-         li: a(href='#'): i.icon-fa
//-         li: a(href='#'): i.icon-goog
//-         li: a(href='#'): i.icon-tw
//-         li: a(href='#'): i.icon-vk
//-         li: a(href='#'): i.icon-odnoklassniki
//-         li: a(href='#'): i.icon-mail
//-     form(action="#" method="method")
//-       .mb25: .text__md.text--lgrey Или с учетной запиcью SWITIPS
//-       .form__group
//-         input.control(type='email', placeholder='E-mail', name='mail', required)  
//-       .form__group
//-         input.control(type='password', placeholder='Пароль', name='password', required)  
//-       .mb30
//-         a.popup(href='#rest-id') Забыли пароль?
//-       .mb25
//-         button.btn.btn--primary(type='submit', disabled) Регистрация
//-       .form__group
//-         a.popup(href='#form-id') Есть учетная запись?

#regin-id.mfp-hide.zoom-anim-dialog.main-popup
  .text--center.is-col__lg-10.centered-block.main-popup-inner
    h3 Вход / Регистрация
    .my50
      form(action="#" method="method")
        .form__group: .text__md.text--lgrey С помощью E-mail и пароля
        .form__group.error
          input.control(type='email', placeholder='E-mail', name='mail', required)
          .data-error Вы ввели не корректный E-mail  
        .form__group
          input.control(type='password', placeholder='Пароль', name='password', required)  
          .data-error Вы ввели неверный пароль 
        .mb25
          a.popup(href='#rest-id') Забыли пароль?
        .is-row.between__xs
          .is-col.form__group: button.btn.btn--danger(type='submit', disabled) Регистрация
          .is-col.form__group: button.btn.btn--primary(type='submit', disabled) Войти
    .form__group.text__md.text--lgrey Или с помошью соц. сетей
    ul.social
      li: a(href='#'): i.icon-fa
      li: a(href='#'): i.icon-goog
      li: a(href='#'): i.icon-tw
      li: a(href='#'): i.icon-vk
      li: a(href='#'): i.icon-odnoklassniki
      li: a(href='#'): i.icon-mail
        
#reginl-id.mfp-hide.zoom-anim-dialog.main-popup
  .text--center.is-col__lg-10.centered-block.main-popup-inner
    h3 Вход / Регистрация
    .my50
      form(action="#" method="method")
        .form__group: .text__md.text--lgrey С помощью E-mail и пароля
        .form__group.error
          input.control(type='email', placeholder='E-mail', name='mail', required)
          .data-error Вы ввели не корректный E-mail  
        .form__group
          input.control(type='password', placeholder='Пароль', name='password', required)  
          .data-error Вы ввели неверный пароль 
        .form__group
          input.control(type='text', placeholder='Логин пригласившего', name='login', required)  
          .data-bubble(title="Логин пригласившего") ?
          .data-error Вы ввели неверный логин 
        .mb25
          a.popup(href='#rest-id') Забыли пароль?
        .form__group
          .button.btn.btn--danger.btn--full(type='submit', disabled) Регистрация
    .form__group.text__md.text--lgrey Или с помошью соц. сетей
    ul.social
      li: a(href='#'): i.icon-fa
      li: a(href='#'): i.icon-goog
      li: a(href='#'): i.icon-tw
      li: a(href='#'): i.icon-vk
      li: a(href='#'): i.icon-odnoklassniki
      li: a(href='#'): i.icon-mail

        
#rest-id.mfp-hide.zoom-anim-dialog.main-popup
  .text--center.is-col__md-10.centered-block
    h2 Забыли пароль?
    .my50
      form(action="#" method="method")
        .form__group
          input.control(type='email', placeholder='E-mail', name='mail', required)  
        .mb25
          button.btn.btn--primary.btn--full(type='submit', disabled) Напомнить пароль
        .form__group
          a.popup(href='#form-id') Назад

      
#tariff-id.mfp-hide.zoom-anim-dialog.main-popup.main-popup--lg
  .main-popup-body
    .text--center
      h2 Выберите тариф
    .price-block
      table.table.data-table
        thead
          tr  
            th: h3 Выберите тариф
            th: .badge.badge--info Silver
            th: .badge.badge--warning Gold
        tbody
          tr
            td.text__lg Уровень кэшбэка 
            td 
              .text--primary.text__lg Базовый
              .text--grey.text__sm.hidden__sm.hidden__xs до 24% от покупки
            td 
              .text--primary.text__lg Базовый + 60%
              .text--grey.text__sm.hidden__sm.hidden__xs до 36% от покупки
          tr
            td.text__lg Скидки до 90% 
            td 
              .text--primary.text__lg Да
            td 
              .text--primary.text__lg Да
          tr
            td.text__lg Кэшбек от покупок друзей 
            td 
              .text--info.text__lg Нет
            td 
              .text--primary.text__lg Да
          tr
            td.text__lg Премия за GOLD статус друга 
            td 
              .text--info.text__lg Нет
            td 
              .text--primary.text__lg 17 €
              .text--grey.text__sm.hidden__sm.hidden__xs за каждого друга
          tr.hidden__sm.hidden__xs
            td.text__lg Регистрация
            td 
              a.btn.btn--default.popup(href='#regin-id') Бесплатно
            td 
              a.btn.btn--warning.popup(href='#regin-id') 34 €
              .text--grey.text__sm единоразово
          tr.hidden__md.hidden__lg.hidden__xl
            td.text__lg Регистрация
            td 
              .text--primary.text__lg Бесплатно
            td 
              .text--primary.text__lg 34 €
      .visible__sm.visible__xs.text--center          
        div.mb20: a.btn.btn--outlined.popup(href='#regin-id') регистрация
        div: a.btn.btn--warning.popup(href='#regin-id') купить gold
        
#important-id.mfp-hide.zoom-anim-dialog.main-popup.main-popup--lg
  .main-popup-body--lg.text__md--center.text--left
    h2 Важно знать
    .important-block.is-row.hidden__xs.hidden__sm
      .is-col.is-col__lg-3.is-col__xs-6
        .is-row.middle__xs.mb20
          .is-col.is-col__lg-12.is-col__sm-4.important-block-icons
            i.is-icons.is-icons--puzzle
          .is-col.is-col__lg-12.is-col__sm-6.important-block-txt
            p Отключайте все сторонние  расширения 
      .is-col.is-col__lg-3.is-col__xs-6
        .is-row.middle__xs.mb20
          .is-col.is-col__lg-12.is-col__sm-4.important-block-icons
            i.is-icons.is-icons--hourglass
          .is-col.is-col__lg-12.is-col__sm-6.important-block-txt
            p Покупайте в рамках  одной браузерной сессии
      .is-col.is-col__lg-3.is-col__xs-6
        .is-row.middle__xs.mb20
          .is-col.is-col__lg-12.is-col__sm-4.important-block-icons
            i.is-icons.is-icons--browser
          .is-col.is-col__lg-12.is-col__sm-6.important-block-txt
            p Заказывайте только  онлайн.
      .is-col.is-col__lg-3.is-col__xs-6
        .is-row.middle__xs.mb20
          .is-col.is-col__lg-12.is-col__sm-4.important-block-icons
            i.is-icons.is-icons--info
          .is-col.is-col__lg-12.is-col__sm-6.important-block-txt
            p Используйте промокоды  только SWITIPS
    .important-block.visible__xs.visible__sm
      .icons-block
        i.is-icons.is-icons--iphone
        i.is-icons.is-icons--labtop
      p Мобильные версии некоторых магазинов не содержат специальный код, необходимый для фиксирования и отслеживания кэшбэка. 
      p   По возможности делайте покупки с компьютера
    ul.list--inline.text--center
      li.mb20: a.btn.btn--primary(href='#') понятно
      li.mb20: a.btn.btn--outlined(href='#') Подробнее
