//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  padding-bottom: 30px;
  text-align: center;
  font-size: 14px;
  @media screen and (min-width: $screen-lg) {
    font-size: 16px;
  }
  &__logo {
    color: $base-color-main;
    a {display: inline-block;}
    img {
      width: 200px;
      @media screen and (min-width: $screen-lg) {
        width: auto;
      }
    }
  }
  &__menu {
    font-family: 'MSmed';
    color: $base-color-main;
    margin: 30px auto;
    max-width: 230px;
    @media screen and (min-width: $screen-adaptive-nav) {
      max-width: inherit;
      margin: 80px 0 50px;
    }
    .list--inline {
      display: flex;
      flex-wrap: wrap;
      @extend .around__xs;
      @extend .between__sm;
      li {
        margin-top: 8px;
        margin-bottom: 8px;
        @media screen and (min-width: $screen-adaptive-nav) {
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
    }
  }
  &__info {
    color: #ccc;
    margin: 30px auto 0;
    max-width: 230px;
    font-size: 12px;
    @media screen and (min-width: $screen-adaptive-nav) {
      margin-top: 50px;
      max-width: inherit;
      font-size: 16px;
    }
  }
  &__soc {
    font-size: 24px;
    i {
      color: #837C99;
    }
    li {
      margin: 0 10px;
    }
  }
}
