//
// Partials -> Header
// ------------------------------------
a {
  span, i {
    vertical-align: middle;
  }
  span + i {
    margin-left: 12px;
  }
}

//
// Header
//
.nav {
  @media screen and (min-width: $screen-lg) {
    width: 55%;
  }
  @media screen and (min-width: $screen-xl) {
    width: 46%;
  }
}
.page-header {
  background: rgba(255,255,255,0.9);
  height: 100px;
  padding: 35px 0;
  font-family: 'MSmed';
  position: fixed;
  top: 0;left: 0;right: 0;
  z-index: 99;
  font-size: 14px;
  @media screen and (min-width: $screen-adaptive-nav) {
    padding: 35px 0 25px;
  }
  @media screen and (min-width: $screen-lg) {
    font-size: 16px;
  }
  .container {
    display: flex;
    @extend .between__xs;
    @extend .middle__xs;
  }
  &__soc {
    margin-top: 90px;
    @media screen and (min-width: $screen-sm) {
      margin-top: 40px;
    }
    ul {margin-bottom: 0;}
    i {
      color: $white-lighten;
      font-size: 24px;
      margin: 0 15px 0 0;
    }
  }
  &__logo {
    a {text-decoration: none;display: block;}
    img {
      width: 150px;
      @media screen and (min-width: $screen-lg) {
        width: 200px;
      }
    }
  }
  &__link {
    a {
      color: $white-lighten;
      @media screen and (min-width: $screen-md) {
        color: $base-color-main;
      }
    }
    @media screen and (min-width: $screen-xl) {
      width: 200px;
    }
    @extend .text--right__md;
    i {
      @extend .text__lg;
    }
  }
}

//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
