//
// Partials -> Main
// ------------------------------------

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
}

.margins {
  margin: 80px 0;
  @media screen and (min-width: $screen-md) {
    margin: 100px 0;
  }
}

.data-table {
  tr {
    border-bottom: solid 1px #f0f0f4;
    @media (min-width: $screen-md) {
      border: none;
    }
  }
  th {
    display: inline-block;
    width: 50%;
    height: auto;
    @media (min-width: $screen-md) {
      height: 70px;
      display: table-cell;
      width: auto;
    }
  }
  @media (max-width: $screen-sm-max) {
    th:nth-child(1) {
      display: none;
    }
  }
  td {
    display: inline-block;
    height: auto;
    @media (max-width: $screen-sm-max) {
      width: 50%;
      padding-bottom: 15px;
      &:nth-child(1) {
        padding-bottom: 0;
        padding-top: 15px;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        color: #8a8b9b;
        width: 100%;
      }
    }
    @media (min-width: $screen-md) {
      display: table-cell;
    }
  }
}

//
// Main container
//
.page-main {
  padding-top: 90px;
  padding-bottom: 20px;
  @media screen and (min-width: $screen-md) {
    padding-top: 140px;
  }
  @media screen and (min-width: $screen-lg) {
    padding-top: 170px;
  }
}

.important-block {
  font-family: 'MSmed';
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  @media screen and (min-width: $screen-md) {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: $screen-lg) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  &-icons {
    @media screen and (min-width: $screen-lg) {
      height: 60px;
      margin-bottom: 40px;
    }
  }
  &-txt {
    text-align: left;
    @media screen and (min-width: $screen-lg) {
      text-align: center;
    }
  }
}
.icons-block {
  margin-bottom: 50px;
  display: flex;
  @extend .between__xs;
  @extend .middle__xs;
  position: relative;

  &::after {
    content: '\e817';
    font-family: "fontello";
    font-size: 48px;
    color: #d9d9e4;
    position: absolute;
    height: 30px;
    top: 7px;
    left: 0;
    width: 50px;
    right: 0;
    margin: auto;
  }
}

.banner {
  @extend .text--center;
  &-img {
    background: url('../images/BG.jpg') no-repeat center center / cover;
    height: 300px;

    @media screen and (min-width: $screen-md) {
      height: 570px;
    }
    @media screen and (min-width: $screen-xl) {
      height: 770px;
    }
  }
}

.info {
  margin-bottom: 80px;
  @media screen and (min-width: $screen-lg) {
    margin-bottom: 120px;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 70px;
  }
  p {
    font-family: 'MSreg';
    margin-bottom: 30px;
    color: #9d9da8;
    @media screen and (min-width: $screen-adaptive-nav) {
      font-size: 18px;
    }
  }
  h4 {
    font-family: 'MSbold';
    margin-bottom: 15px;
  }
}

.cashback {
  @extend .text--center;
  @extend .margins;
  font-family: 'MSreg';
  &-block {
    margin-top: 60px;
    @media screen and (min-width: $screen-md) {
      margin-top: 90px;
    }
  }
  &__item {
    display: flex;
    @extend .middle__xs;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md) {
      margin-bottom: 0;
      display: block;
    }
    &-num {
      text-align: center;
      color: $white-lighten;
      font-size: 18px;
      line-height: 60px;
      width: 60px;
      height: 60px;
      margin-right: 20px;
      display: inline-block;
      @include border-radius(50%);
      background-image: linear-gradient(225deg, #3023ae, #c86dd7);
      @media screen and (min-width: $screen-md) {
        margin-right: 0;
        margin-bottom: 25px;
        font-size: 36px;
        line-height: 140px;
        width: 140px;
        height: 140px;
      }
      @media screen and (min-width: $screen-lg) {
        font-size: 48px;
        line-height: 180px;
        width: 180px;
        height: 180px;
      }
    }
    &-desc {
      font-size: 14px;
      width: 70%;
      text-align: left;
      b {
        font-weight: 600;
      }
      @media screen and (min-width: $screen-md) {
        text-align: center;
        width: 100%;
      }
      @media screen and (min-width: $screen-xl) {
        font-size: 18px;
        padding: 0 30px;
      }
    }
  }
}

.slider {
  @extend .text--center;
  @extend .margins;
  &-block {
    margin-top: 60px;
    margin-bottom: 55px;
  }
  &-main {
    &__flex {
      display: flex !important;
      @extend .middle__xs;
    }
    &__item {
      width: 60px !important;
      height: 60px;
      margin: 0 5px;
      line-height: 60px;
      box-shadow: inset 0 0 0 2px #e0e1f9;
      @include border-radius(50%);
      @extend .text--center;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      .text__md {
        font-size: 12px;
        @media screen and (min-width: $screen-md) {
          font-size: 18px;
        }
      }
      .text__sm {
        font-size: 9px;
        @media screen and (min-width: $screen-md) {
          font-size: 14px;
        }
      }
      @media screen and (min-width: $screen-md) {
        margin: 5px 11px;
        width: 120px !important;
        height: 120px;
        line-height: 120px;
      }
      &-txt {
        font-family: 'MSmed';
        display: flex;
        @extend .middle__xs;
        flex-direction: column;
        padding: 10px;
        @extend text--center;
        position: absolute;
        top: 0;left: 0;right: 0;bottom: 0;
        z-index: 11;
        opacity: 0;
        @include transition();
        div {
          line-height: 1;
          margin: auto;
        }
        :hover > & {
          opacity: 1;
        }
      }
      img {
        width: 40px;
        display: inline-block;
        vertical-align: middle;
        @media screen and (min-width: $screen-md) {
          width: 82px;
        }
      }
      &::after {
        content: '';
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        opacity: 0;
        @include border-radius(50%);
        top: 0;left: 0;bottom: 0;right: 0;
        background-color: rgba(#303038, 0.9);
        @include transition();
      }
      &:hover {
        // border-color: rgba(#303038, 0.9);
        border-color: transparent;
        &::after {
          opacity: 1;
        }
      }
    }
    &--c {
      margin-left: -30px;
    }
  }
}

.relative {position: relative;}

.slick-arrow {
  width: 120px !important;
  height: 120px;
  margin: 5px 15px;
  line-height: 120px;
  color: #e0e1f9;
  border: solid 2px #e0e1f9;
  background-color: $white-lighten;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  position: absolute;
  z-index: 19;
  top: 137px;
  &:hover {
    color: $base-color-main;
    border-color: $base-color-main;
  }
  i {
    font-size: 48px;
  }
}

.slider-arrow-right {
  @media screen and (min-width: $screen-md) {
    left: -19px;
  }
  @media screen and (min-width: $screen-lg) {
    left: -41px;
  }
  @media screen and (min-width: $screen-xl) {
    left: 32px;
  }
}
.slider-arrow-left {
  @media screen and (min-width: $screen-md) {
    right: 10px;
  }
  @media screen and (min-width: $screen-lg) {
    right: -11px;
  }
  @media screen and (min-width: $screen-xl) {
    right: 62px;
  }
}
.slider-arrows {
  &-right {
    position: absolute;
    top: 0;
    left: 0;
    @media screen and (min-width: $screen-lg) {
      top: 44%;
      left: -22%;
    }
  }
  &-left {
    position: absolute;
    top: 0;
    right: 0;
    @media screen and (min-width: $screen-lg) {
      top: 44%;
      right: -22%;
    }
  }
}

.steps {
  @extend .text--center;
  @extend .margins;
  font-family: 'MSreg';
  &-block {
    margin-top: 10px;
    @media screen and (min-width: $screen-md) {
      margin-top: 80px;
    }
  }
  &__item {
    position: relative;
    &-ico {
      font-size: 26px;
      display: inline-block;
      @extend .text--center;
      margin-top: 30px;
      margin-bottom: 10px;
      color: $base-color-main;
      @media screen and (min-width: $screen-md) {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 48px;
        width: 120px;
        height: 120px;
        line-height: 120px;
        color: $black;
        border: solid 2px $base-color-main;
        @include border-radius(50%);
      }
      @media screen and (min-width: $screen-lg) {
        width: 140px;
        height: 140px;
        line-height: 140px;
      }
    }
    &-desc {
      font-size: 14px;
      @media screen and (min-width: $screen-lg) {
        font-size: 18px;
        padding: 0 50px;
      }
    }
    @media screen and (min-width: $screen-md) {
      & + & {
        &::after {
          content: '\e817';
          font-family: "fontello";
          font-size: 48px;
          color: #d9d9e4;
          position: absolute;
          height: 30px;
          top: 28px;
          left: -11%;
          @media screen and (min-width: $screen-lg) {
            top: 40px;
            left: -7%;
          }
        }
      }
    }
  }
}


.goods {
  @extend .text--center;
  @extend .margins;
  font-family: 'MSmed';
  &-block {
    margin-top: 40px;
    @media screen and (min-width: $screen-md) {
      margin-top: 70px;
    }
  }
  &__item {
    border-radius: 20px;
    padding: 10px 12px;
    width: 240px;
    margin: auto;
    @media screen and (min-width: $screen-md) {
      width: auto;
      margin: 0;
    }
    @media screen and (min-width: $screen-lg) {
      border: solid 2px #e0e1f9;
      padding: 45px 5px;
    }
    @media screen and (min-width: $screen-xl) {
      padding: 45px 30px;
    }
    &-img {
      position: relative;
      width: 39%;
      display: inline-block;
      @media screen and (min-width: $screen-lg) {
        width: 100%;
      }
      img {
        height: 70px;
        @media screen and (min-width: $screen-lg) {
          height: 240px;
        }
        @media screen and (min-width: $screen-xl) {
          height: 300px;
        }
      }
    }
    &-group {
      display: inline-block;
      vertical-align: top;
      width: 58%;
      height: 80px;
      @extend .text--left;
      @extend .text--center__lg;
      @media screen and (min-width: $screen-lg) {
        height: auto;
        width: 100%;
      }
    }
    &-logo {
      position: absolute;
      top: 0;bottom: 0;
      left: 0;
      margin: auto;
      width: 120px;
      height: 120px;
      @include border-radius(50%);
      background-color: $white-lighten;
      @extend .middle__xs;
      @extend .center__xs;
      display: none;
      img {height: auto;}
      @media screen and (min-width: $screen-lg) {
        display: flex;
      }
    }
    &-title {
      flex-direction: column;
      @extend .end__xs;
      text-align: left;
      display: flex;
      @media screen and (min-width: $screen-lg) {
        text-align: center;
        margin-top: 35px;
        margin-bottom: 20px;
        height: 50px;
      }
      @media screen and (min-width: $screen-xl) {
        height: 70px;
      }
      h3, h4 {
        margin: 0;
      }
      h3 {
        font-size: 14px;
        @media screen and (min-width: $screen-lg) {
          font-size: 24px;
        }
        @media screen and (min-width: $screen-xl) {
          font-size: $font-size-h3;
        }
      }
      h4 {
        font-size: 14px;
        @media screen and (min-width: $screen-lg) {
          font-size: 18px;
        }
        @media screen and (min-width: $screen-xl) {
          font-size: $font-size-h4;
        }
      }
    }
    &-price {
      @extend .middle__xs;
      @extend .center__xs;
      @media screen and (min-width: $screen-lg) {
        display: flex;
      }
      &-old {
        @extend .text__md;
        color: #9b9b9b;
        text-decoration: line-through;
        margin-right: 5px;
        display: none;
        @media screen and (min-width: $screen-lg) {
          display: block;
        }
      }
      &-new {
        font-size: 14px;
        font-family: 'MSbold';
        margin-top: 5px;
        @media screen and (min-width: $screen-lg) {
          font-size: 18px;
          margin-top: 0;
        }
        color: $black;
      }
    }
    &-sale {
      margin: 20px 0 0;
      font-size: 16px;
      @extend .text--primary;
      padding: 9px 11px;
      height: 40px;
      border-radius: 15px;
      border: solid 2px $base-color-main;
      margin: 10px 0;
      width: 170px;
      display: inline-block;
      @media screen and (min-width: $screen-md) {
        margin: 20px 0;
        padding: 7px 11px;
      }
      @media screen and (min-width: $screen-lg) {
        font-size: 18px;
        width: auto;
        margin: 20px 0 0;
      }
    }
    &-info {
      margin: 0 0 10px;
      color: #8688a5;
      @media screen and (min-width: $screen-lg) {
        margin: 20px 0;
        height: 70px;
      }
    }
  }
}


.reviews {
  @extend .text--center;
  @extend .margins;
  &-block {
    margin-top: 40px;
    @media screen and (min-width: $screen-md) {
      margin-top: 70px;
    }
    @media screen and (min-width: $screen-lg) {
      margin-top: 130px;
    }
    &-mb {
      height: 100px;
      .slick-slide {
        @include transition();
      }
      .reviews__item-ava {
        margin-top: 8px;
      }
      .reviews__item-group {
        height: 100px;
      }
      .slick-active {
        transform: scale(1.2);
        .reviews__item-ava {
          border-color: $base-color-main;
        }
      }
      .slick-slide:not(.slick-active) {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        .reviews__item-name {
          opacity: 0;
        }
      }
    }
  }
  &__item {
    font-family: 'MSmed';
    display: flex;
    flex-wrap: wrap;
    @extend .between__md;
    @extend .center__xs;
    @media screen and (min-width: $screen-lg) {
      display: block;
    }
    &-txt {
      color: #8688a5;
      padding: 15px;
      @extend .text--left;
      border: solid 2px $base-color-main;
      @include border-radius(20px);
      position: relative;
      margin-bottom: 40px;
      @media screen and (min-width: $screen-md) {
        padding: 20px 30px;
      }

      &::before,
      &::after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 30px 0 0;
        border-color: $base-color-main transparent transparent transparent;
        position: absolute;
        bottom: -30px;
        left: 10px;right: 0;
        margin: auto;
      }
      &::after {
        bottom: -26px;
        border-width: 27px 26px 0 0;
        border-color: $white-lighten transparent transparent transparent;
      }
      @media screen and (min-width: $screen-md) and (max-width: $screen-md-max){
        border-radius: 0 20px 20px 20px;
        order: 1;
        width: 75%;
        &::before,
        &::after {
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 25px 25px 0;
          border-color: transparent $base-color-main transparent transparent;
          position: absolute;
          top: -2px;
          bottom: auto;
          right: auto;
          left: -25px;
          margin: auto;
        }
        &::after {
          top: 0;
          left: -21px;
          border-width: 0 23px 23px 0;
          border-color: transparent $white-lighten transparent transparent;
        }
      }

    }
    &-ava {
      width: 60px;
      display: inline-block;
      height: 60px;
      background-color: #d8d8d8;
      border: solid 2px #e0e1f9;
      overflow: hidden;
      @include border-radius(50%);
    }
    &-name {
      color: #8688a5;
    }
  }
}

.badge {
  font-size: 24px;
  display: inline-block;
  text-align: center;
  padding: 7px 25px;
  border-radius: 25px;
  line-height: 1;
  @media (min-width: $screen-md) {
    line-height: 1.4;
    height: 50px;
    border: solid 2px transparent;
  }
  &--warning {
    color: $color-type-3a;
    border-color: $color-type-3a;
  }
  &--info {
    color: $color-type-1a;
    border-color: $color-type-1a;
  }
}

.price {
  @extend .text--center;
  @extend .margins;
  font-family: 'MSreg';
  &-block {
    margin-top: 40px;
    @media screen and (min-width: $screen-md) {
      margin-top: 110px;
    }
  }
  .btn {
    margin: 30px;
    @media screen and (min-width: $screen-md) {
      margin: 70px 0;
    }
  }
  .btn + .btn {
    margin-top: 0;
    @media screen and (min-width: $screen-md) {
      margin-left: 40px;
      margin-top: 70px;
    }
  }
  &-info {
    font-size: 12px;
    color: #8a8b9b;
    @media screen and (min-width: $screen-md) {
      font-size: 18px;
      color: $black;
    }
  }
  &-logo {
    margin-top: 40px;
    img {
      @media screen and (min-width: $screen-md) {
        height: 50px;
      }
    }
    .is-col {
      width: 25%;
      @media screen and (min-width: $screen-md) {
        width: auto;
      }
    }
  }
}


.faq {
  @extend .text--center;
  @extend .margins;
  &-block {
    margin-top: 70px;
  }
  h2, h5 {
    margin: 0;
  }
}
