//
// Modules -> Navs
// --------------------------------------------------



.main-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  @media screen and (min-width: $screen-adaptive-nav) {
    display: flex;
    @extend .between__xs;
    @extend .middle__xs;
  }

  &__hide {
    @extend .visible__sm;
    @extend .visible__xs;
    padding: 0 15px;
    margin-top: auto;
  }

  &__item {
    position: relative;

    @if $use-adaptive == true {
      display: block;
      @media screen and (min-width: $screen-adaptive-nav) {
        display: inline-block;
      }
    } @else {
      display: inline-block;
    }
  }
  &__link {
    position: relative;
    padding: $nav-link-padding;
    text-decoration: none;
    display: block;
    background-color: transparent;
    color: $white-lighten;
    @media screen and (min-width: $screen-adaptive-nav) {
      color: $base-color-main;
    }
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  img {
    max-width: none;
  }

  @if $use-adaptive == true {
    &__toggle {
      position: relative;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: block;
      width: 24px;
      height: 24px;
      z-index: 99;
      transform: rotate(0deg);
      @include transition();

      &:focus {
        outline: 0;
      }
      .icon-bar {
        display: block;
        width: 24px;
        height: 2px;
        background: $base-color-main;
        left: 0;
        opacity: 1;
        transform: rotate(0deg);
        position: absolute;
        @include transition();
        &:nth-child(1) {
          top: 4px;
        }
        &:nth-child(2) {
          top: 12px;
        }
        &:nth-child(3) {
          top: 20px;
        }
      }
      &.open .icon-bar {
        background: $white-lighten;
        &:nth-child(1) {
          top: 14px;
          transform: rotate(135deg);
        }
        &:nth-child(2) {
          opacity: 0;
          left: -60px;
        }
        &:nth-child(3) {
          top: 14px;
          transform: rotate(-135deg);
        }
      }

      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
    &__collapse {
      overflow-x: visible;
      -webkit-overflow-scrolling: touch;
      padding: 100px 50px;

      display: flex;
      flex-direction: column;

      background: $base-color-main;
      position: fixed;
      width: 100%;
      top: 0;right: -100%;bottom: 0;
      @include transition();

      @media screen and (min-width: $screen-sm) {
        padding: 50px;
      }
      @media screen and (min-width: $screen-adaptive-nav) {
        display: block;
        width: auto;
        background: transparent;
        position: static;
        padding: 0;
        right: 0;
      }

      &.collapse {
        overflow: visible;
        right: 0;
      }
    }
  }
}
