footer.page-footer
  .container
    .is-col__xl-7.is-col__lg-10.is-col__md-6.centered-block
      .page-footer__logo
        a(href="/"): img(src="images/logo.svg", alt="Company ltd.")
      .page-footer__menu
        ul.list--inline
          li: a(href='#') Важно знать
          //- li: a.popup(href='#important-id') Правила
          li: a(href='#') Пользовательское соглашение
          li: a(href='#') СМИ о нас
          li: a(href='#') Напишите нам
      .page-footer__soc
        ul.list--inline
          li: a(href='https://www.facebook.com/wwpcapital/', target='_blank'): i.icon-fa
          li: a(href='https://www.youtube.com/wwpcapital', target='_blank'): i.icon-youtube
          li: a(href='http://instagram.com/wwpcapital_official', target='_blank'): i.icon-instagram
          li: a(href='https://vk.com/wwpcapital', target='_blank'): i.icon-vk
      .page-footer__info ООО "Кэшбэк ПРО", ИНН 7751115576  г.Щербинка, ул. Южная, д. 8 , вл. 49
