header.page-header
    .container
        .page-header__logo
            a(href="/")
                img(src="images/logo.svg", alt="Company ltd.")
        include ../components/_navbar
        .page-header__link.hidden__sm.hidden__xs
          a.popup(href='#regin-id')
            span Войти
            i.icon-exit
