main.page-main
  section.banner.anchor
    h1 Встречайте!  #[br] Самый большой CashBack в Рунете!
    .banner-img
      //- img(src='images/BG.jpg', alt='')
    a.btn.btn--outlined.btn--icon(href='#top')
      span Подробнее
      i.icon-arr-d
  section.cashback#top
    .container
      h2 Возвращайте на карту #[br] до 34% с покупки
      .is-col__xl-8.is-col__md-11.is-col__xs-10.centered-block
        .cashback-block.is-row
          .cashback__item.is-col.is-col__md-4.is-col__xs-12
            .cashback__item-num 8К+
            .cashback__item-desc Более 8000 #[a(href='#') брендов]
          .cashback__item.is-col.is-col__md-4.is-col__xs-12
            .cashback__item-num 34%
            .cashback__item-desc Большой Cashback  
          .cashback__item.is-col.is-col__md-4.is-col__xs-12
            .cashback__item-num 700+
            .cashback__item-desc Более 700 #[a(href='#') магазинов]
  section.slider#shops
    h2 Магазины
    .slider-block
      .slider-arrow.hidden__xs.hidden__sm
        .container.relative
          .slider-arrow-left.slick-arrow
            i.icon-next
          .slider-arrow-right.slick-arrow
            i.icon-prev
      .slider-main
        - for (var x = 1; x < 16; x++)
          .slider-main__item(data-gold='4,5', data-silver='3')
            img(src="images/logo-"+x+".png", alt='')
            .slider-main__item-txt
      .slider-main--c
        - for (var x = 16; x < 38; x++)
          .slider-main__item(data-gold='4,5', data-silver='3')
            img(src="images/logo-"+x+".png", alt='')
            .slider-main__item-txt
      .slider-main
        - for (var x = 6; x < 33; x++)
          .slider-main__item(data-gold='4,5', data-silver='3')
            img(src="images/logo-"+x+".png", alt='')
            .slider-main__item-txt
    a.btn.btn--primary(href='#') Все магазины
  section.cashback#cashback
    .container
      .is-col__xl-8.is-col__md-11.is-col__xs-10.centered-block
        h2 Но это еще не все!
        .cashback-block.is-row
          .cashback__item.is-col.is-col__md-4.is-col__xs-12
            .cashback__item-num – 90%
            .cashback__item-desc Получайте огромные скидки  на закрытых распродажах  или по специальному промокоду
          .cashback__item.is-col.is-col__md-4.is-col__xs-12
            .cashback__item-num + 60%
            .cashback__item-desc Увеличьте свой CashBack на #[b.text--danger 60%]  подключив Gold Статус
          .cashback__item.is-col.is-col__md-4.is-col__xs-12
            .cashback__item-num 5%
            .cashback__item-desc Получайте CashBack #[b.text--danger 5%] за покупки друзей  с помощью Gold статуса
  section.steps
    .container
      .is-col__xl-8.is-col__md-11.centered-block
        h2 Все очень просто!
        .steps-block.is-row
          .steps__item.is-col.is-col__md-4.is-col__xs-12
            .steps__item-ico: i.icon-search
            .steps__item-desc Находите ваши любимые магазины
          .steps__item.is-col.is-col__md-4.is-col__xs-12
            .steps__item-ico: i.icon-cart
            .steps__item-desc Делаете покупки  как обычно
          .steps__item.is-col.is-col__md-4.is-col__xs-12
            .steps__item-ico: i.icon-cashback
            .steps__item-desc Получаете часть денег обратно
  section.goods
    .container
      .is-col__xl-11.is-col__lg-12.is-col__md-11.centered-block
        h2 Примеры умного шопинга
        .goods-block.is-row
          .is-col.is-col__md-4.is-col__xs-12
            .goods__item
              .goods__item-img
                .goods__item-logo: img(src='images/logo-16.png', alt='')
                img(src='images/goods-1.jpg', alt='')
              .goods__item-group
                .goods__item-title 
                  h3 iPhone X
                  h4  64 GB Black
                .goods__item-price
                  .goods__item-price-old 79 980 Руб. 
                  .goods__item-price-new 71 031 Руб. 
              .goods__item-info.visible__sm.visible__xs Cash Back Switips 11,2%&nbsp;=&nbsp;8 958 Руб.
              .goods__item-sale -  8 958 Руб. 
              .goods__item-info.hidden__sm.hidden__xs Cashback Switips 11,2%&nbsp;=&nbsp;8 958 Руб.
              a.btn.btn--primary(href='#') В магазин
          .is-col.is-col__md-4.is-col__xs-12
            .goods__item
              .goods__item-img
                .goods__item-logo: img(src='images/logo-17.png', alt='')
                img(src='images/goods-2.jpg', alt='')
              .goods__item-group
                .goods__item-title 
                  h3 H2O+  
                  h4 Набор для ухода за кожей
                .goods__item-price
                  .goods__item-price-old 2 980 Руб. 
                  .goods__item-price-new 1 174 Руб. 
              .goods__item-info.visible__sm.visible__xs Скидка Летуаль 60%&nbsp;=&nbsp;1678 Руб. #[br] Cashback Switips 3,2%&nbsp;=&nbsp;159 Руб.
              .goods__item-sale - 1806 Руб. 
              .goods__item-info.hidden__sm.hidden__xs Скидка Летуаль 60%&nbsp;=&nbsp;1678 Руб. #[br] Cashback Switips 3,2%&nbsp;=&nbsp;159 Руб.
              a.btn.btn--primary(href='#') В магазин
          .is-col.is-col__md-4.is-col__xs-12
            .goods__item
              .goods__item-img
                .goods__item-logo: img(src='images/logo-18.png', alt='')
                img(src='images/goods-3.jpg', alt='')
              .goods__item-group
                .goods__item-title: h4   Короткая норковая шуба 
                .goods__item-price
                  .goods__item-price-old 48 990 руб.
                  .goods__item-price-new 36 990 Руб. 
              .goods__item-info.visible__sm.visible__xs Скидка Снежная Королева 30%&nbsp;=&nbsp;9800 Руб. #[br] Cashback Switips 7,82%&nbsp;=&nbsp;3064 Руб.
              .goods__item-sale - 13225 Руб. 
              .goods__item-info.hidden__sm.hidden__xs Скидка Снежная Королева 30%&nbsp;=&nbsp;9800 Руб. #[br] Cashback Switips 7,82%&nbsp;=&nbsp;3064 Руб.
              a.btn.btn--primary(href='#') В магазин
  section.reviews
    .container
      .is-col__xl-7.is-col__lg-9.is-col__xs-11.centered-block.relative
        h2 Отзывы наших пользователей
        .slider-arrows
        .reviews-block.is-row.between__xs
          .is-col.is-col__xl-3.is-col__lg-4.is-col__xs-12
            .reviews__item
              .reviews__item-txt Я реально потрясен - обещанные кэшбэки возвращаются! Я, как и все наверное, сначала сделал покупку для пробы. Ждал какого-нибудь кидалова, но очень скоро получил денежки, хоть и небольшие, за свою пробную покупку. Зачем ходить в магазины, если можно все заказать в интернете и еще и получить денег за это? Я, честно, не понимаю людей, которые упускают такую выгоду.
              .reviews__item-group.hidden__sm.hidden__xs
                .reviews__item-ava: img(src='images/user-1.png', alt='')
                .reviews__item-name Альберт Оберман
          .is-col.is-col__xl-3.is-col__lg-4.is-col__xs-12
            .reviews__item
              .reviews__item-txt Здравствуйте! Я Данис Шагабиев. Я являюсь партнером и преданным клиентом SWITIPS. На собственном примере покажу, почему покупать в интернете выгодно через нашу кэшбэк-платформу. Буквально неделю назад я купил себе куртку в Reebok. Ее цена была 8990 рублей. С этой покупки я получил кэшбэк 8 % - 720 рублей. Чтобы получить эти деньги, я ничего не делал, просто купил себе куртку! Все очень просто. На нашей платформе сегодня более 700 магазинов. Регистрируешься в SWITIPS бесплатно, выбираешь товар в интернет-магазине и покупаешь его, как обычно. Кэшбэк-сервис дает отличную возможность экономить деньги! Рекомендую этим воспользоваться.
              .reviews__item-group.hidden__sm.hidden__xs
                .reviews__item-ava: img(src='images/user-2.png', alt='')
                .reviews__item-name Данис Шагабиев
          .is-col.is-col__xl-3.is-col__lg-4.is-col__xs-12
            .reviews__item
              .reviews__item-txt Добрый день! Я предприниматель и юрист, поэтому умею и люблю находить выгодные предложения. Все покупки я делаю в разных интернет-магазинах. За счет скидок, бонусов и бесплатной доставки существенно уменьшается стоимость покупки. Самый впечатляющей была покупка в М.Видео. Я очень удачно купила там iPhone 7: на карту пришел бонус 800 р., от SWITIPS - 1450 р. и от М.Видео - 1000 р. Итого у меня 3250 р. экономии с одной покупки! В среднем за месяц я получаю кэшбэк 5000 р. В год это уже 60 000 р. Все это я экономлю на своих обычных покупках. Желаю, чтобы в нашей стране было как можно больше финансово свободных людей!
              .reviews__item-group.hidden__sm.hidden__xs
                .reviews__item-ava: img(src='images/user-3.png', alt='')
                .reviews__item-name Елена Домаскина
          .is-col.is-col__xl-3.is-col__lg-4.is-col__xs-12
            .reviews__item
              .reviews__item-txt Привет! Ты наверняка делаешь покупки в интернете и даже, возможно, получаешь кэшбэк. Нет? На самом деле есть классная возможность получать с интернет покупок деньги. Я, например, недавно покупала iPhone 6 в магазине Билайн. Делала это через платформу SWITIPS. Так вот, Айфон стоил 24 000 рублей, а кэшбэк от платформы я получила аж 1900 рублей! Я была немного в шоке, когда получила эти деньги.
              .reviews__item-group.hidden__sm.hidden__xs
                .reviews__item-ava: img(src='images/user-4.png', alt='')
                .reviews__item-name Елизавета Зензина
          .is-col.is-col__xl-3.is-col__lg-4.is-col__xs-12
            .reviews__item
              .reviews__item-txt Я давно мечтал о путешествии в Таиланд. Друзья подсказали, что бронировать отель через booking.com выгоднее, если заходить на сайт через кэшбэк сервис SWITIPS. И действительно, я зашел в систему, перешел на booking, выбрал отель. Делал все с ноутбука. Там такой регламент. Уже в Таиланде увидел, что на мой счет «упали» денежки. С бронирования в 23 400 тайских лат (= 42 270 рублей) мне вернули 749 рублей. Я так понимаю, что зайдя напрямую в booking я бы ничего не получил. Фантастика!
              .reviews__item-group.hidden__sm.hidden__xs
                .reviews__item-ava: img(src='images/user-5.png', alt='')
                .reviews__item-name Игорь Родичев
          .is-col.is-col__xl-3.is-col__lg-4.is-col__xs-12
            .reviews__item
              .reviews__item-txt Я, Наталья, и мой муж Дмитрий постоянно делаем покупки с SWITIPS. Через кэшбэк-сервис переходим к витринам более семи сотен магазинов. Недавно мы делали покупки в М.Видео. Нашла телефон, который мне понравился (iPhone X), добавила в корзину. Забирать можно из 88 магазинов прямо завтра. И никаких банковских карт не надо. Платим наличными и забираем покупку! Смартфон был куплен за 91 950 рублей, кэшбэк мне вернули 2575 рублей. Плюс бонусы от М.Видео. Неплохой подарочек на 15-летнюю годовщину свадьбы.
              .reviews__item-group.hidden__sm.hidden__xs
                .reviews__item-ava: img(src='images/user-6.png', alt='')
                .reviews__item-name Наталья Жукова
          .is-col.is-col__xl-3.is-col__lg-4.is-col__xs-12
            .reviews__item
              .reviews__item-txt Все мамочки меня поймут и порадуются. Я искала, где можно купить ребенку хорошую детскую обувь. На mytoys.ru мы нашли классные детские сапожки. На сайте их цена 3709 р. И скидка на них 5 % (185 р.). Плюс подарок от магазина. Поскольку мы зашли через SWITIPS, то получили 320 р. кэшбэка. Он начисляется не в процентах, а сразу в денежной сумме. Так что на сапожках мы сэкономили 505 р. Буду еще покупать через SWITIPS!
              .reviews__item-group.hidden__sm.hidden__xs
                .reviews__item-ava: img(src='images/user-7.png', alt='')
                .reviews__item-name Оксана Шведкова
          .is-col.is-col__xl-3.is-col__lg-4.is-col__xs-12
            .reviews__item
              .reviews__item-txt Дочка написала письмо Деду Морозу со списком игрушек к Новому Году. Письмо Деду Морозу, а исполнять папе. Долго ломал голову, как купить подарки, если цены в магазинах «кусаются», хоть и новогодние распродажи. Появилась счастливая идея сэкономить на кэшбэк платформе SWITIPS. Накупил игрушек и подарков в mnogo.ru. Приятно было, когда получил к скидкам еще и кэшбэк в 400 рублей с каждой (!!!) покупки. На Деда Мороза надейся, а сам не плошай!
              .reviews__item-group.hidden__sm.hidden__xs
                .reviews__item-ava: img(src='images/user-8.png', alt='')
                .reviews__item-name Роман Сидоров
          .is-col.is-col__xl-3.is-col__lg-4.is-col__xs-12
            .reviews__item
              .reviews__item-txt Расскажу вам, как я с выгодой провожу отдых благодаря кэшбэк платформе SWITIPS. Три клика и я у цели: кэшбэк сервис, сам booking (дает 3 % кэшбэк), выбираю отель и резервирую. Все готово. Благодаря SWITIPS прокат доски для серфинга на целый день получится бесплатным.
              .reviews__item-group.hidden__sm.hidden__xs
                .reviews__item-ava: img(src='images/user-9.png', alt='')
                .reviews__item-name Яна Белокобылко
          .is-col.is-col__xl-3.is-col__lg-4.is-col__xs-12
            .reviews__item
              .reviews__item-txt Я постоянно заказываю себе и моему сыночку вещи с AliExpress. Где бы я ни находилась - в России или на отдыхе за границей, я могу легко сделать заказ. Захожу на сайт Switips.com, перехожу в личный кабинет, оттуда к витрине интернет-магазинов. У каждого сразу указан процент кэшбэка. Дальше иду в магазин и как обычно делаю заказы. В моем личном кабинете я проверяю, какие суммы кэшбэка пришли на мой счет. Замечаний нет, рекомендую всем!
              .reviews__item-group.hidden__sm.hidden__xs
                .reviews__item-ava: img(src='images/user-10.png', alt='')
                .reviews__item-name Юлия Родичева
        .reviews-block-mb.slider-nav.visible__sm.visible__xs
          .reviews__item-group
            .reviews__item-ava: img(src='images/user-1.png', alt='')
            .reviews__item-name Альберт Оберман
          .reviews__item-group
            .reviews__item-ava: img(src='images/user-2.png', alt='')
            .reviews__item-name Данис Шагабиев
          .reviews__item-group
            .reviews__item-ava: img(src='images/user-3.png', alt='')
            .reviews__item-name Елена Домаскина
          .reviews__item-group
            .reviews__item-ava: img(src='images/user-4.png', alt='')
            .reviews__item-name Елизавета Зензина
          .reviews__item-group
            .reviews__item-ava: img(src='images/user-5.png', alt='')
            .reviews__item-name Игорь Родичев
          .reviews__item-group
            .reviews__item-ava: img(src='images/user-6.png', alt='')
            .reviews__item-name Наталья Жукова
          .reviews__item-group
            .reviews__item-ava: img(src='images/user-7.png', alt='')
            .reviews__item-name Оксана Шведкова
          .reviews__item-group
            .reviews__item-ava: img(src='images/user-8.png', alt='')
            .reviews__item-name Роман Сидоров
          .reviews__item-group
            .reviews__item-ava: img(src='images/user-9.png', alt='')
            .reviews__item-name Яна Белокобылко
          .reviews__item-group
            .reviews__item-ava: img(src='images/user-10.png', alt='')
            .reviews__item-name Юлия Родичева
  section.price
    .container
      h2 Купите GOLD статус #[br] и экономьте еще больше!
      .is-col__xl-10.is-col__md-11.centered-block
        .price-block
          table.table.data-table
            thead
              tr  
                th
                th: .badge.badge--info Silver
                th: .badge.badge--warning Gold
            tbody
              tr
                td.text__lg Уровень кэшбэка 
                td
                  .text--primary.text__lg Базовый
                  .text--grey.text__sm.hidden__sm.hidden__xs до 24% от покупки
                td
                  .text--primary.text__lg Базовый + 60%
                  .text--grey.text__sm.hidden__sm.hidden__xs до 36% от покупки
              tr
                td.text__lg Скидки до 90% 
                td
                  .text--primary.text__lg Да
                td(data-th='Скидки до 90%') 
                  .text--primary.text__lg Да
              tr
                td.text__lg Кэшбек от покупок друзей 
                td
                  .text--info.text__lg Нет
                td
                  .text--primary.text__lg Да
              tr
                td.text__lg Премия за GOLD статус друга 
                td
                  .text--info.text__lg Нет
                td
                  .text--primary.text__lg 17 €
                  .text--grey.text__sm.hidden__sm.hidden__xs за каждого друга
              tr
                td.text__lg Регистрация
                td 
                  .text--primary.text__lg Бесплатно
                td 
                  .text--primary.text__lg 34 €
                  .text--grey.text__sm.hidden__sm.hidden__xs единоразово
        a.btn.btn--outlined.popup(href='#regin-id') регистрация
        a.btn.btn--warning.popup(href='#regin-id') купить gold
      .is-col__xl-7.is-col__lg-8.is-col__md-11.centered-block
        .price-info Вы сможете вывести деньги на банковскую карту VISA или Мastercard,  а также на электронный кошелек QIWI или Яндекс.Деньги
        .is-row.around__xs.middle__xs.price-logo
          .is-col: img(src='images/card-1.png', alt='')
          .is-col: img(src='images/card-2.png', alt='')
          .is-col: img(src='images/card-3.png', alt='')
          .is-col: img(src='images/card-4.png', alt='')
  section.faq
    .container
      h2 Часто задаваемые вопросы
      h5.hidden__sm.hidden__xs Чтобы увидеть ответ, нажмите на вопрос
      .is-col__xl-7.is-col__md-11.centered-block
        .accordion
          .accordion__item
            .accordion__title Откуда берутся деньги? Как их вывести?
            .accordion__body В стоимость каждого товара закладывается реклама продвижения сайта, привлечение клиентов и т.д. Благодаря нашему сервису магазины платят за тот же результат (покупку их продукции), но не рекламным агентствам, а Вам.
          .accordion__item
            .accordion__title Зачем CashBack продавцу?
            .accordion__body Просмотрите список магазинов вот на этой странице или введите название магазина в поисковой строке сайта. Если Вы не нашли нужный магазин или онлайн-сервис, напишите о нем в нашу службу поддержки – мы попробуем наладить сотрудничество с этим магазином.
          .accordion__item
            .accordion__title Если я выкуплю только часть заказа, я получу CashBack?
            .accordion__body Да, конечно! CashBack будет считаться от оплаченной Bами суммы.
          .accordion__item
            .accordion__title Сколько денег мне будет возвращаться с покупок?
            .accordion__body Размер CashBack зависит от условий конкретного магазина. Это может быть процент от суммы заказа или фиксированная сумма. Узнать точный размер возмещения Вы можете в описании магазина или самого товара.
          .accordion__item
            .accordion__title Сегодня я сделал(а) заказ. Когда будет CashBack?
            .accordion__body После того как Вы сделали заказ, он должен отобразиться в Вашем личном кабинете. Когда магазин подтвердит заказ, CashBack зачислится на Ваш баланс.
          .accordion__item
            .accordion__title Как получить промокод?
            .accordion__body Получить промокод можно после регистрации, зайдя на страницу "Магазины" - "Акции" и выбрав интересующий вас промокод. Также на Вашу почту, которую Вы указали при регистрации, будут приходить письма с индивидуальными промокодами.
  
