main.page-main
  section.info
    .container
      .is-col__xl-7.is-col__lg-8.is-col__md-10.centered-block
        .text--center
          h1 Важно знать
        p Чтобы кэшбэк успешно начислился, соблюдайте, пожалуйста, основные правила покупок с кэшбэком:
        h4 Отключайте сторонние расширения
        p Некоторые расширения могут перезаписывать партнерские ссылки и присваивать весь кэшбэк. В частности : Adblock, friGate CDN, Aliexpress Seller Check, а также VPN/Proxy/Socks расширенияи другие. По возможности отключайте все сторонние расширения в браузере, с которого совершаете покупки с кэшбэком.
        h4 Покупайте в рамках одной браузерной сессии
        p Делайте покупку непосредственно после перехода с сервиса CashBackPro. Если вы перешли на сайт магазина, добавили/удалили товар из корзины, закрыли сайт, вернулись через час и завершили покупку, есть большая вероятность, что кэшбэк не будет начислен. А чтобы не потерять понравившийся вам товар, вы можете добавить его в «Мои желания» или «Избранное». Товар можно добавить в корзину только после перехода с CashBackPro.
        h4 Заказывайте только онлайн.
        p При оформлении заказа по телефону или с помощью консультанта в магазине, кэшбэк не начисляется. При этом вы можете выбрать любой доступный в магазине способ оплаты и доставки.
        h4 Используйте промокоды только от Switips
        p При использовании промокодов, купонов, скидок, бонусных баллов и накопительных программ, которых нет в CashBackPro, кэшбэк может быть не начислен. При заказе на AliExpress корректировка цены продавцом или индивидуальная скидка также может стать причиной утери кэшбэка.
        h4 Кэшбэк начисляется на фактически оплаченную стоимость товара
        p Большинство магазинов предоставляет вознаграждение на фактически оплаченную стоимость товара – без учета стоимости доставки; за вычетом использованных скидок, купонов, промокодов, бонусных баллов, средств с внутреннего баланса магазина.
        h4 Изучите c особенностями магазинов
        p Перед покупкой ознакомьтесь с особенностями, условиями и тарифами магазина. Если у магазина есть специфические условия начисления кэшбэка, мы публикуем эту информацию на страничке магазина. Как говорится, предупрежден – значит вооружен!
        h4 Покупки с мобильных устройств/приложений
        p По статистике кэшбэк с покупок через мобильные устройства теряется чаще, чем с компьютера. Это связано с тем, что мобильные версии некоторых магазинов не содержат специальный код, необходимый для фиксирования и отслеживания кэшбэка. По возможности делайте покупки с компьютера. Для покупок в AliExpress есть решение!
        h4 Заказы на юридическое лицо
        p Кэшбэк по заказам, оформленным на юридическое лицо в некоторых случаях может быть не зафиксирован или отклонен.
        h4 Если у вас часто теряется кэшбэк:
        p #[span.text--danger   Рекомендация №1:] Постарайтесь полностью оформить заказ в течение 1 часа после перехода с нашего сервиса/активации кэшбэка в расширении, не переходя при этом на сторонние страницы и вкладки. Это обезопасит вас от перезаписи партнерских ссылок другими расширениями и программами.
        p #[span.text--danger   Рекомендация №2:] Попробуйте использовать отдельный браузер для покупок с кэшбэком. Не заходите через этот браузер на другие сайты, кроме CashBackPro и магазинов-партнеров, в котором совершаете покупку.  
        p #[span.text--danger   Рекомендация №3:] Перед покупкой закройте все вкладки браузера и очистите cookies-файлы. Для этого можете воспользоваться комбинацией клавиш Ctrl+Shift+Delete. Период за который нужно очистить историю — «за все время».
